# Ignore backup files like xxx.php.backupxxx
*.code-workspace
*.php.backup*
*.php.*save*
*.json.*save*
*.bak
*.tmp
*~

# === Editor-specific ===
# VS Code
.vscode/

# Notepad++
*.nppBackup
*.nppsave# Ignore editor swap/backup files
*.swp
*.swo
*.swn

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

.testing/
api_config.php